/*.TextCaptchaChallengeImageSlider-loading {
	width: 3rem;
	height: 3rem;
}*/

.TextCaptchaChallengeImageSlider-error {
	margin: 0;
	color: var(--Critical-color);
}

.TextCaptchaChallengeImageSlider-slides {
	position: relative;
	overflow: hidden;
}

.TextCaptchaChallengeImageSlider-slide {
	position: absolute;
}