@import "../../styles/common.css";

:root {
	--ChannelHeaderSearch-width--smallScreen: calc(var(--unit) * 5);
	--ChannelHeaderSearch-width--mediumScreen: calc(var(--unit) * 10);
	--ChannelHeaderSearch-width--largeScreen: calc(var(--unit) * 14);

	--ChannelHeaderSearch-width: var(--ChannelHeaderSearch-width--mediumScreen);
	@mixin xxs {
		--ChannelHeaderSearch-width: var(--ChannelHeaderSearch-width--smallScreen);
	}
	@mixin m-plus {
		--ChannelHeaderSearch-width: var(--ChannelHeaderSearch-width--largeScreen);
	}

	--ChannelHeaderSearch-marginLeft: var(--unit);

	--ChannelHeaderSearch-animationDuration: 300ms;
}

.ChannelHeader {
	display: flex;
	align-items: center;

	height: var(--ChannelHeader-height);
	padding-left: var(--ChannelHeader-paddingLeft);
	padding-right: var(--ChannelHeader-paddingRight);
}

.ChannelHeader-toolbarSizePlaceholder {
	visibility: hidden;

	@mixin xxs {
		display: none;
	}
}

.ChannelHeader-heading {
	flex: 1;

	font-weight: var(--ChannelHeader-fontWeight);
	font-size: var(--ChannelHeader-fontSize);
	text-align: var(--ChannelHeader-textAlign);

	margin: 0;

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ChannelHeader-heading--alignContentCenter {
	text-align: center;
}

.ChannelHeader-searchInput {
	width: var(--ChannelHeaderSearch-width);
	margin-left: var(--ChannelHeaderSearch-marginLeft);
	transition: width var(--ChannelHeaderSearch-animationDuration), margin-left var(--ChannelHeaderSearch-animationDuration);
}

.ChannelHeader-search {
	--SearchInput-backgroundColor: var(--ChannelThreadHeader-backgroundColor);
}

/* Automatically expands the search input on large screens. */
/*
@mixin upto-m {
*/
.ChannelHeader-search--hidden {
	.ChannelHeader-searchInput {
		width: 0;
		margin-left: 0;
	}
	.SearchInput-loadingEllipsis {
		display: none;
	}
}
/*
}

@mixin l-plus {
	.ChannelHeaderToolbarSearchButton {
		pointer-events: none;
	}
}
*/