:root {
	--ChannelThreadsSidebarSectionThread-paddingTop: 1.5rem;
	--ChannelThreadsSidebarSectionThread-paddingLeft: var(--Sidebar-paddingLeft);
	--ChannelThreadsSidebarSectionThread-thumbnail-marginRight: 1rem;
}

.ChannelThreadsSidebarSectionThread {
	display: flex;
	align-items: center;

	position: relative;

	padding-top: var(--ChannelThreadsSidebarSectionThread-paddingTop);
	padding-bottom: var(--ChannelThreadsSidebarSectionThread-paddingTop);
	padding-left: var(--ChannelThreadsSidebarSectionThread-paddingLeft);
	padding-right: var(--ChannelThreadsSidebarSectionThread-paddingLeft);

	background-color: var(--Post-backgroundColor);

	border-bottom: var(--ChannelThreadsSidebarSectionThread-borderWidth) solid var(--ChannelThreadsSidebarSectionThread-borderColor);

	--CommentMoreActions-opacity: 0.5;

	.CommentMoreActions  {
		position: absolute;
		right: calc(var(--unit) * 1.5);
		top: calc(var(--unit) * 1.5);
    color: var(--Content-color-500);
	}
}

.ChannelThreadsSidebarSectionThread--current {
	box-shadow: 0 0 5rem inset var(--Content-color-50);
	/*box-shadow: 0 0 5rem inset var(--Document-backgroundColor);*/
}

.ChannelThreadsSidebarSectionThread-thumbnail,
.ChannelThreadsSidebarSectionThread-thumbnailPlaceholder {
	margin-right: var(--ChannelThreadsSidebarSectionThread-thumbnail-marginRight);
	flex-shrink: 0;
}

.ChannelThreadsSidebarSectionThread-thumbnail {
	.PostAttachmentThumbnail {
		margin-left: auto;
		margin-right: 0;
	}
}

.ChannelThreadsSidebarSectionThread-title {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 500;
	font-size: 1rem;
	line-height: var(--Document-lineHeight);
}

.ChannelThreadsSidebarSectionThread-titleAndContent {
	/* For some weird reason, it overflows unless `overflow: hidden` is added. */
	overflow: hidden;
}

.ChannelThreadsSidebarSectionThread-content {
	margin-top: 0;
	margin-bottom: 0;
}

.ChannelThreadsSidebarSectionThread-title + .ChannelThreadsSidebarSectionThread-content {
	/*margin-top: var(--unit);*/
	margin-top: 1em;
}

.ChannelThreadsSidebarSectionThread-content {
	white-space: pre-wrap;
}

.ChannelThreadsSidebarSectionThread--hidden {
	padding-top: var(--unit);
	padding-bottom: var(--unit);

	.CommentHidden {
		padding-top: 0;
		padding-bottom: 0;
	}
}

.ChannelThreadsSidebarSectionThread-commentsCount {
	display: flex;
	align-items: center;
	position: absolute;
	right:calc(var(--ChannelThreadsSidebarSectionThread-paddingLeft));
	bottom: calc(var(--ChannelThreadsSidebarSectionThread-paddingTop));
	line-height: var(--CommentFooter-lineHeight);
	font-size: var(--CommentFooter-fontSize);
	font-weight: var(--CommentFooter-fontWeight);
	color: var(--CommentFooter-color--darker);
}

.ChannelThreadsSidebarSectionThread-commentIcon {
	width: var(--CommentFooterBadge-height);
	height: var(--CommentFooterBadge-height);
	margin-top: var(--CommentFooterBadgeIcon-marginTop--commentsCount);
	margin-right: var(--CommentFooterBadgeIcon-marginRight--commentsCount);
	opacity: var(--CommentFooterBadgeIcon-opacity--left);
}