@import "../../styles/common.css";

.Comment-newAutoUpdateCommentsStartLine {
	--Comment-newAutoUpdateCommentsStartLine-height: 2px;
	--Comment-newAutoUpdateCommentsStartLine-color: var(--Clickable-color);

	position: absolute;
	top: calc((var(--Comment-marginTop) - var(--Comment-newAutoUpdateCommentsStartLine-height)) / 2);
	width: 100%;
	height: var(--Comment-newAutoUpdateCommentsStartLine-height);
	background-color: var(--Comment-newAutoUpdateCommentsStartLine-color);

	@mixin m-plus {
		width: calc(100% - var(--PostThumbnailContainer-maxWidth) + 2 * var(--Comment-boxShadowOutlineWidth));
		margin-left: calc(var(--PostThumbnailContainer-maxWidth) + -1 * var(--Comment-boxShadowOutlineWidth));
		margin-right: calc(-1 * var(--Comment-boxShadowOutlineWidth));
	}
}

.Comment-previouslySeenThreadsBanner {
	display: flex;
	align-items: center;
	margin-top: var(--Comment-marginTop);
	font-size: var(--Comment-previouslySeenThreadsBanner-fontSize);
	letter-spacing: var(--Comment-previouslySeenThreadsBanner-letterSpacing);
	font-weight: lighter;
	text-transform: uppercase;
	color: var(--Comment-previouslySeenThreadsBanner);

	&:before,
	&:after {
		display: block;
		content: '';
		height: 1px;
		flex: 1;
		background-color: var(--Comment-previouslySeenThreadsBanner-borderColor);
	}

	&:before {
		margin-right: var(--Comment-marginTop);
	}

	&:after {
		margin-left: var(--Comment-marginTop);
	}
}

.Comment-spacer {
	height: var(--Comment-marginTop);
}

.Comment-spacerLine {
	margin: 0;
	border: none;
	border-bottom: var(--CommentSpacerLine-height) solid var(--CommentSpacerLine-color);
}

.Comment-spacerLine--first {
	border-bottom-color: transparent;
}

.Comment-replyFormContainer {
	/* It will add a `:before` pseudo-element to show a comment tree structure line. */
	position: relative;
}