.Comment--compact {
	.CommentFooter {
		--CommentFooter-marginBottom: var(--CommentFooter-marginBottom--compact);
	}
}

.CommentFooter {
	/* The height of the footer should stay the same in all cases:
	   * Less than 1 minute has passed — comment date not shown.
	   * More than 1 minute has passed — comment date is shown.
	   * Comment status changes — new badges get added (for example, banned).
	*/
	min-height: var(--CommentFooter-height);
	line-height: var(--CommentFooter-lineHeight);
	margin-top: calc(var(--CommentFooter-marginTop) - (var(--CommentFooter-lineHeight) - var(--CommentFooter-height)) / 2);
	margin-bottom: calc(var(--CommentFooter-marginBottom) - (var(--CommentFooter-lineHeight) - var(--CommentFooter-height)) / 2);
	/*margin-bottom: calc(var(--Post-paddingBottom) + var(--CommentFooter-marginBottom));*/
	/*padding-left: var(--Post-paddingLeft);*/
	/*padding-right: var(--Post-paddingRight);*/
	/* This sets some kind of a `min-width` for a thread comment. */
	/*padding-left: calc(var(--Post-paddingLeft) * 10);*/
	/*padding-bottom: var(--Post-paddingBottom);*/
	color: var(--CommentFooter-color);
	font-weight: var(--CommentFooter-fontWeight);
	font-size: var(--CommentFooter-fontSize);
	justify-content: space-between;
}

.CommentFooter,
.CommentFooter-left,
.CommentFooter-right,
.CommentFooter-rightExceptMoreActions {
	display: flex;
	align-items: center;
}

.CommentFooter-left,
.CommentFooter-rightExceptMoreActions {
	flex-wrap: wrap;
}

/* This trick turned out to not work as expected because it had a side-effect (glitch):
   when there're two comments, one above another, and the one that's above
   gets its `.CommentMoreActions` menu expanded, the date of the other comment
   that sits below gets rendered above the expanded `.CommentMoreActions` menu.
*/
/* `.CommentMoreActions` is `.rrui__menu` which means that it's `position: relative`.
   Since it's "clickable" perceived width is wider than its actual width,
   it might obstruct the adjacent DOM Elements like the comment's date.
   In order to prevent that, the adjacent DOM Elements are styled to be "above"
   `.CommentMoreActions` in terms of `z-index`.
*/
/*
.CommentFooter-rightExceptMoreActions {
  position: relative;
  z-index: 1;
}
*/

.CommentFooter-left {
	margin-right: calc(var(--unit) * 1.5);
	color: var(--CommentFooter-color--darker);
}

/*.CommentFooter-right {
	.PostVotes {
		margin-right: var(--unit);
	}
}*/

.CommentFooter-separator {
	width: calc(var(--unit) * 1.5);
	text-align: center;
	font-size: 125%;
}

.CommentFooterItem {
	--Padding-paddingLeft: var(--PostButton-paddingLeft);
	--Padding-paddingTop: var(--PostButton-paddingTop);
	display: flex;
}

.CommentFooterItemIcon {
	width: 0.9em;
	height: 0.9em;
	margin-right: 0.35em;
}

.CommentFooter-timeTooltip {
	font-size: 85%;
}