.ErrorPage {
	text-align: center;
}

.ErrorPage-title {
	margin-top: calc(var(--unit) * 8);
	margin-bottom: calc(var(--unit) * 4);
}

.ErrorPage-description {
	margin: 0;
}

.ErrorPage-code {
	font-weight: bolder;
}

.ErrorPage--showImage .ErrorPage-title {
	margin-top: calc(var(--unit) * 4);
}

.ErrorPage-description + .ErrorPage-image {
	margin-top: calc(var(--unit) * 4);
}

.ErrorPage-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid rgba(0, 0, 0, 0.5);
	/* Don't overflow the page on mobile devices. */
	max-width: 100%;
}

.ErrorPage-requestedUrl {
	display: inline-block;
	margin-top: calc(var(--unit) * 2);
}

.ErrorPage-requestedUrl--onBackground {
	padding-left: calc(var(--unit) * 0.75);
	padding-right: calc(var(--unit) * 0.75);
	padding-top: calc(var(--unit) / 2.5);
	padding-bottom: calc(var(--unit) / 2.5);

	opacity: var(--OnBackground-opacity--clickable);
	color: var(--Clickable-color--text);
	background-color: var(--OnBackground-backgroundColor);

	&:active {
		color: var(--Content-backgroundColor);
		background-color: var(--Clickable-color--active);
	}
}