@import "../styles/common.css";

.HomePage {
	display: flex;
	justify-content: center;
}

.HomePage-logo {
	height: 1em;
	margin-top: 0.1em;
	margin-right: 0.25em;
}

.HomePage-logoLink {
	color: inherit;
}

.HomePage-brand {
	display: flex;
	align-content: center;
	justify-content: center;

	margin-top: calc(var(--unit) * 4);
	/* Added some padding because it has a `background-color`
	   when rendered above a background pattern. */
	padding-top: calc(var(--unit) * 2);
	padding-bottom: calc(var(--unit) * 2);

	font-size: 2.5rem;
	color: inherit;

	@mixin upto-s {
		font-size: 2rem;
		margin-top: calc(var(--unit) * 3);
	}
}

.HomePage-title {
	font-weight: 300;
	color: inherit;
}

.HomePage-subtitle {
	margin-top: 0.5em;
	text-align: center;
	font-size: 1rem;
}

.HomePage-description {
	margin-top: calc(var(--unit) * 4);
	margin-bottom: 0;

	@mixin upto-s {
		margin-top: calc(var(--unit) * 3);
	}
}

/*.HomePage-announcement,*/
.HomePage-showChannelsList {
	margin-top: calc(var(--unit) * 2);
	margin-bottom: 0;
}

/*
.HomePage-description,
.HomePage-announcement {
	line-height: 1.35em;
}
 */

.HomePage-showChannelsList {
	display: none;
	.Button {
		margin-left: auto;
		margin-right: auto;
		color: var(--Clickable-color--text);
	}
}

.HomePage--onBackground {
	&:before {
		position: absolute;
		width: calc(100% + var(--Webpage-paddingLeft-width) + var(--Webpage-paddingRight-width));
		height: calc(100% + var(--Footer-marginTop--onBackground));
		margin-left: calc(-1 * var(--Webpage-paddingLeft-width));
		margin-right: calc(-1 * var(--Webpage-paddingRight-width));
		background-color: var(--OnBackground-backgroundColor);
		opacity: var(--OnBackground-opacity--content);
		top: 0;
		left: 0;
		z-index: -1;
		content: '';
	}
}
