/*
Noon to Dusk: `linear-gradient(to right, rgb(255, 110, 127), rgb(191, 233, 255))`
Hazel: `linear-gradient(to right, rgb(119, 161, 211), rgb(121, 203, 202), rgb(230, 132, 174))`

A list of gradients:
https://uigradients.com
*/

:root {
	--BackgroundGradient-angle: 90deg;
	--BackgroundPattern-url: url('../../assets/images/background-pattern.svg');
	--BackgroundPattern-size: 22rem;
}

/* In dark mode:
   * Background color is `--Background-backgroundColor`.
   * Pattern color after blending is gonna be `--BackgroundGradient-color--1` to `--BackgroundGradient-color--2`.
   * Pattern opacity is `--BackgroundPattern-opacity`.
   * The more light or transparent Background color is,
     the more the gradient "shines through".

   An alternative would've been:
   * Background Layer's `background-color` is `--BackgroundGradient-color--1` to `--BackgroundGradient-color--2`.
   * Background Layer's `-webkit-mask-image` is `--BackgroundPattern-url`,
     along with `-webkit-mask: center repeat` and `-webkit-mask-size: var(--BackgroundPattern-size) auto`.
     The pattern's stroke is black so the pattern outline would be colored in gradient colors
     and the rest would be just black because it wouldn't get through the "mask".
   * Pattern Layer's `display` is `none` because there's no need for the Pattern Layer.
   * Example implementation: https://t.me/durov
*/
.dark {
	--BackgroundGradient-blendMode: darken;
	--BackgroundGradient-zIndex: -1;

	--BackgroundPattern-filter: invert(100%);
	--BackgroundPattern-blendMode: initial;
	--BackgroundPattern-zIndex: -2;
	--BackgroundPattern-opacity: 0.25;

	--BackgroundBackdrop-zIndex: -3;
	--BackgroundBackdrop-backgroundColor: initial;
}

/* In light mode:
   * Background color is `--BackgroundGradient-color--1` to `--BackgroundGradient-color--2`.
   * Pattern color is an "overlay" effect of black color over the Background color:
     it's a darker version of the Background color below it.
   * Pattern opacity is `--BackgroundPattern-opacity`.
*/
.light {
	/* In light mode, `--Background-backgroundColor` is irrelevant. */
	--Background-backgroundColor: initial;

	--BackgroundGradient-blendMode: initial;
	--BackgroundGradient-zIndex: initial;

	--BackgroundPattern-filter: initial;
	--BackgroundPattern-blendMode: overlay;
	--BackgroundPattern-zIndex: initial;
	--BackgroundPattern-opacity: 0.35;

	--BackgroundBackdrop-zIndex: initial;
	--BackgroundBackdrop-backgroundColor: initial;
}

/* .dark { */
	/* Monochrome */
	/*
	.Background--dark--monochrome {
    --BackgroundGradient-color--1: hsl(0deg 0% 19.8%);
    --BackgroundGradient-color--2: hsl(0deg 0% 83.69%);
    --BackgroundPattern-opacity: 0.1;
		--Background-backgroundColor: hsl(0deg 0% 10%);
	}
	*/

	/* Dark Blue */
	/* .Background--dark--dark-blue { */
		/* https://uigradients.com/#BurningOrange */
		/*
    --BackgroundGradient-color--1: hsl(0deg 0% 15%);
    --BackgroundGradient-color--2: hsl(0deg 0% 20%);
    --BackgroundPattern-opacity: 0.1;
    --Background-backgroundColor: hsl(241deg 10% 11.75%);
		*/
		/*
		--BackgroundGradient-color--1: hsl(346deg 100% 63%);
		--BackgroundGradient-color--2: hsl(9deg 100% 58%);
		--BackgroundPattern-opacity: 0.1;
		--Background-backgroundColor: hsl(222deg 28.9% 12.15%);
		*/
	/* } */

	/* Purple */
	/* .Background--dark--purple { */
		/* Orange to Purple */
		/*
		--BackgroundGradient-color--1: hsl(19deg 27% 17%);
		--BackgroundGradient-color--2: hsl(284deg 46% 21%);
		--BackgroundPattern-opacity: 0.15;
		--Background-backgroundColor: hsl(259, 45%, 11%);
		*/
	/* } */

	/* Blue Red */
	/*
	.Background--dark--blue-red {
		background-image: linear-gradient(to right,#000667,#511717);
		--BackgroundPattern-blendMode: screen;
	}
	*/
/* } */

/* .light { */
	/* Orange Purple */
	/*
	.Background--light--orange-purple {
		--BackgroundGradient-color--1: hsl(34deg 53% 66%);
		--BackgroundGradient-color--2: hsl(0deg 46% 70%);
	}
	*/

	/* Purple Blue */
	/*
	.Background--light--purple-blue {
		--BackgroundGradient-color--1: hsl(11deg 21% 64%);
		--BackgroundGradient-color--2: hsl(208deg 20% 62%);
	}
	*/

	/* Green Brown */
	/*
	.Background--light--green-brown {
    --BackgroundGradient-color--1: hsl(52deg 28% 67%);
    --BackgroundGradient-color--2: hsl(18deg 49% 71%);
	}
	*/
/* } */

.Background {
	display: none;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-color: var(--Background-backgroundColor);
}

.light {
	.Background--light--show {
		display: block;
	}
}

.dark {
	.Background--dark--show {
		display: block;
	}
}

.Background-backdrop,
.Background-gradient,
.Background-pattern {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.Background-backdrop {
	z-index: var(--BackgroundBackdrop-zIndex);
	background-color: var(--BackgroundBackdrop-backgroundColor);
}

.Background-gradient {
	z-index: var(--BackgroundGradient-zIndex);
	background-image: linear-gradient(var(--BackgroundGradient-angle), var(--BackgroundGradient-color--1), var(--BackgroundGradient-color--2));
	mix-blend-mode: var(--BackgroundGradient-blendMode);
}

.Background-pattern {
	z-index: var(--BackgroundPattern-zIndex);
	background-image: var(--BackgroundPattern-url);
	background-repeat: repeat;
	background-size: var(--BackgroundPattern-size), cover;
	mix-blend-mode: var(--BackgroundPattern-blendMode);
	opacity: var(--BackgroundPattern-opacity);
	filter: var(--BackgroundPattern-filter);
}