@import "../styles/common.css";

:root {
	--FooterMarkup-marginBottom: calc(var(--unit) * 2);

	/*--FooterMenu-height: calc(var(--unit) * 3);*/
	--FooterMenu-height: 0px;

	--FooterNotes-marginTop: calc(2 * var(--unit));

	--Footer-marginBottom: calc(2 * var(--unit));

	--Footer-paddingLeft--onBackground: calc(2 * var(--unit));
	--Footer-marginTop--onBackground: calc(3 * var(--unit));
	--Footer-marginBottom--onBackground: 0;
	--Footer-paddingTop--onBackground: calc(2 * var(--unit));
	--Footer-paddingBottom--onBackground: var(--Footer-marginBottom);
	--Footer-opacity--onBackground: var(--OnBackground-opacity--content);
}

.Footer {
	margin-bottom: var(--Footer-marginBottom);

	/* Override ".PostParagraph" margins.
	  (those variables aren't defined). */
	p {
		margin-top: 1em;
		margin-bottom: 0;
	}
}

/* `margin: 0` remove the negative side margin. */
/*.Footer .MainMenu {
	position : fixed;
	left     : 0;
	right    : 0;
	bottom   : 0;

	margin: 0;
	justify-content: space-evenly;

	height: var(--FooterMenu-height);
	color: var(--Header-color);
	background-color: var(--Header-backgroundColor);
	border-top: 1px solid var(--Header-borderColor);

	z-index: var(--header-z-index);
}*/

.Footer {
	/* Setting `position: relative` here so that the `.Footer` is rendered "above"
	   the `.BackButton` which is `position: absolute`.
	   Otherwise, the `.BackButton` would be rendered "above" the `.Footer`
	   and would capture all hover/click events.
	*/
	position: relative;

	/* Using `padding` instead of `margin` here because `pointer-events: none` property
	   is set on `.Webpage-content` making pointer events "fall through" margins (but not paddings).
	*/
	padding-top: var(--Footer-marginTop);
	padding-bottom: var(--FooterMenu-height);

	/*margin-top: var(--Footer-marginTop);*/
	/*margin-bottom: var(--FooterMenu-height);*/
}

.Footer-link {
	color: inherit;
}

.Footer-notes {
	text-align: center;
	font-weight: 300;
	font-size: 85%;
}

.Footer-block + .Footer-block {
	margin-top: var(--FooterNotes-marginTop);
}

/* Added `p` selector here to override `.Footer p` styles. */
p.Footer-anychanFootnotes {
	margin-top: 0;
	margin-bottom: 0;
}

.Footer--onBackground {
	margin-top: var(--Footer-marginTop--onBackground);
	margin-bottom: var(--Footer-marginBottom--onBackground);

	margin-left: calc(-1 * var(--Webpage-paddingLeft-width));
	margin-right: calc(-1 * var(--Webpage-paddingRight-width));

	padding-top: var(--Footer-paddingTop--onBackground);
	padding-bottom: var(--Footer-paddingBottom--onBackground);

	&:before {
		display: block;
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: var(--OnBackground-backgroundColor);
		opacity: var(--Footer-opacity--onBackground);
		z-index: -1;
	}

	/* Overrides the `width` and `padding-left`/`padding-right` that is defined on `.Content` class. */
	&.Content {
		width: calc(100% + var(--Webpage-paddingLeft-width) + var(--Webpage-paddingRight-width));
		padding-left: var(--Footer-paddingLeft--onBackground);
		padding-right: var(--Footer-paddingLeft--onBackground);
	}
}

.Footer-anychanLogo {
	width: 1em;
	height: 1em;
	margin-left: 0.05em;
	margin-right: 0.1em;
	opacity: 0.75;
}

.Footer-links {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
	text-align: center;
}

.Footer-linkItem {
	display: inline;
	line-height: 1.75em;

	&:after {
		display: inline-block;
		content: '·';
		margin-left: 0.5em;
		margin-right: 0.5em;
	}

	&:last-child:after {
		display: none;
	}
}

/*
#footerMarkup {
	margin-bottom: var(--FooterMarkup-marginBottom);
	margin-left: calc(-1 * var(--PageContent-paddingLeft));
	margin-right: calc(-1 * var(--PageContent-paddingLeft));
}
*/