:root {
	--SearchInput-backgroundColor: transparent;
	--SearchInputLoading-width: var(--unit);
	--SearchInputIcon-width: var(--unit);
	--SearchInputIcon-marginRight: var(--unit);
}

.SearchInput {
	position: relative;
}

.SearchInput-loadingEllipsis {
	width: var(--SearchInputLoading-width);
	height: var(--SearchInputLoading-width);
	opacity: 0.5;
}

.SearchInput-loadingEllipsisBackgrond {
	width: calc(var(--SearchInputLoading-width) * 1.25);
	height: var(--SearchInputLoading-width);
	background-color: var(--SearchInput-backgroundColor);
}

.SearchInput-loadingEllipsis,
.SearchInput-loadingEllipsisBackgrond {
	position: absolute;
	top: calc(50% - var(--SearchInputLoading-width) / 2);
	right: 0;
	pointer-events: none;
}

.SearchInput-icon {
	position: absolute;
	left: var(--ChannelHeaderSearch-marginLeft);
	top: 50%;
	transform: translateY(-50%);
	width: var(--SearchInputIcon-width);
	height: var(--SearchInputIcon-width);
}

.SearchInput-input--withIcon {
	padding-left: calc(var(--SearchInputIcon-width) + var(--SearchInputIcon-marginRight));
}