@import "../styles/common.css";

.ShowPrevious {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ShowPrevious-showAll {
	margin-bottom: calc(var(--unit) * 0.5);
	@mixin upto-s {
		margin-bottom: calc(var(--unit) * 0.25);
	}
}

.ShowPrevious-count {
	font-size: 110%;
}

/*
.ShowPrevious-date {
	color: var(--Content-color-700);
	font-weight: 300;
}
*/

.ShowPrevious-doubleArrow {
	display: inline-block;
	width: 1em;
	height: 1em;
	margin-bottom: -0.1em;
	margin-right: 0.25em;
}

.ShowPrevious-button--onBackground {
	height: var(--Button-height--singleLine);

	--Button-opacity: var(--OnBackground-opacity--clickable);
	--Button-color: var(--Clickable-color--text);
	--Button-backgroundColor: var(--OnBackground-backgroundColor);
}