.ThreadCreateComment--notExpanded {
	&.ThreadCreateComment--onBackground {
		--PostForm-opacity: var(--OnBackground-opacity--content);
	}

	&:not(.ThreadCreateComment--onBackground) {
		--PostForm-borderColor: transparent;
		--PostForm-backgroundColor: transparent;

		--rrui-input-field-border-color: var(--Content-color-300);
	}
}